<header>
    <div class="logo">CAR <br> RENTAL</div>
    
    <nav>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/cars" routerLinkActive="active">Cars</a></li>
        <li><a routerLink="/bookings" routerLinkActive="active">Bookings</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Support</a></li>
        <li><a routerLink="/login" class="login-btn">Login</a></li> <!-- Login Styled as Button -->
      </ul>
    </nav>
  </header>
  
  
  <!-- This tells Angular where to load components when navigating -->
  <router-outlet></router-outlet>
  